html {
	text-align: center;
	font-family: 'Londrina Solid', cursive;
	display: block;
}

#title {
	font-size:76px;
	color:#A61010;
	text-align:center;
}

#subtitle {
	display:block;
	font-size:22px;
	color:#3D1F00;
}

input {
	border:solid grey 2px;    
	width:200px;
	text-align:center;
	font-family: 'Londrina Solid', cursive;
	font-size: 22px;
	color: #7D7D7D;
	margin:5px
}

#logincontainer {
	text-align:center;
}

#loginbutton, #registerbutton {
}

a, #registerbutton {
	font-size: 30px;
	text-decoration:none;
	color:black;
}

a:hover, #registerbutton:hover {
	color:#A61010;
	cursor:pointer;
}

#header {
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#container {
	margin-bottom: 50px;
}

#profileheader {
	font-size:60px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#profile {
	width: 50%;
	margin: auto;
	height: 500px;
	font-size: 30px;
	line-height: 175%;
}

#profileimage {
	box-shadow: 0 0 2px;
	float: left;
}

.submitbutton:hover {
	background-color:#A61010;
	color:white;
}

#header {
	color: #A61010;
}
